
$cursive: 'Pacifico', cursive ; 
$open:'Open Sans Condensed', sans-serif;
$titles:'Lexend Tera', sans-serif;

$orange: #C84D44;
$dorado:#d79e5b ;
$beige:#FECEA8;
$grey: rgba(255,255,255,.5);
$brown:#83342E;
$grey2:#A99590;
$grey3:#343A40;
$blue:#1464ba;

header {
    width: 100%;
    height: 650px;
    background-image: url('./images/result.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
    color: #fff;
    text-align: center;

    .textos{
        margin-top: 120px;
    }
    .titulo{
        font-size: 85px;
    }

    .subtitulo{
        font-size: 60px;
        font-weight: 300;
        margin-bottom: 32px;
    }

    .boton{
        display: inline-block;
        padding: 6px;
        width: 128px;
        border: 1px solid #fff;
        color: #fff;
        font-size: 19px;
        text-align: center;
        text-decoration: none;
        border-radius: 16px;
    }
}

.sesgoAbajo{
    z-index: 10;
    position: absolute;
    bottom: 0;
    left: 0;
    border-width:0 0 25vh 100vw ;
    border-style: solid;
    border-color: transparent transparent #fff transparent ;
}

.sesgoArriba{
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    border-width: 25vh 100vw 0 0 ;
    border-style: solid;
    border-color: #fff transparent transparent transparent ;
}


.contenedor{
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
    padding: 52px 0 ;

}

.sobre-nosotros{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 10px;
    font-weight: 300;
    height: auto;
    font-family: $open;
    color:$orange ;
}

.slogan{
    font-size: 24px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 24px;
}

.parrafo{
    margin-bottom: 13px;
    font-weight: 300;
    text-align: justify;
    line-height: 24px;
    color: rgb(24, 16, 16) ;
}

.acerca-de .boton{
        display: inline-block;
        padding: 6px;
        width: 128px;
        font-weight: 300;
        border: 1px solid rgba(24, 16, 16,.7);
        color: rgb(24, 16, 16);
        font-size: 19px;
        text-align: center;
        text-decoration: none;
        border-radius: 16px;
        margin-top: 24px;
    }

.galeria{
    width: 100%;
    height: 500px;
    overflow: hidden;
    display: flex;
    position: relative;
}    

.imagenes{
    width: 50%;
    height: 500px;
    overflow: hidden;
    position: relative;
}

.imagenes img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.encima{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #dcdad991;
}
.encima:hover{
    background-color: #24292e96;
    transition: .5s ease;
}


.encima h2:hover{
    color:#fff ;
    transition: .5s ease;
}

.encima h2{
    position: relative;
    top: 45%;
    text-align: center;
    color:rgb(24, 16, 16) ;
    font-family: $open;

}


.encima div{
    position: relative;
    display: block;
    top: 46%;
    width: 40px;
    height: 5px;
    background:rgb(24, 16, 16);
    margin: auto;
}


.cards-modernHome{
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    //     @media (max-width: 769px){ /* es solo para que se vea en modo movil usuarios*/
    //         flex-direction: column;
    // }

}

.card-modernHome img {
    width: 140px;
    height: 140px;
    object-fit: cover;
    border-radius: 100%;
}

.card-modernHome{
    margin: 20px 0;
    width: 30%;
    height: 250px;
    text-align: center;
    padding: 20px;;
    box-shadow: 0px 0px 4px 0 #34495e93 ;
}

.fondo{
    height: 900px;
    position: relative;
    background-image:url('./images//marketin.jpg') ;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    background-attachment: fixed;
    background-position: center;
    padding-top: 130px;
}

.sesgoAbajo-unico{
    z-index: 10;
    position: absolute;
    bottom: 0;
    left: 0;
    border-width:0 0 25vh 100vw ;
    border-style: solid;
    border-color: transparent transparent #2c3e50 transparent ;
}

.headernew{
    background-color: #1d1c24;
    color:white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.description{
    margin-top: 200px;
    @media (max-width: 769px){ /* es solo para que se vea en modo movil usuarios*/
        margin-top: 40px;
        
    }
}

.first{

font-family: 'Open Sans', sans-serif;
font-size: 75px;
line-height: 80px;
font-style: normal;
//font-weight: 500;
letter-spacing: -3px;
text-transform: none;
@media (max-width: 769px){ /* es solo para que se vea en modo movil usuarios*/
    font-size: 45px;
    
    }
}

.description{
    margin-left: 20px;
}

.david{
    margin-top: 20px;
    margin-bottom:20px ;
}
.david img{
    max-width: 400px;
    @media (max-width: 769px){ /* es solo para que se vea en modo movil usuarios*/
        max-width: 350px;
    }
}

.projects{
    background-color: #1d1b24;
}


.projects .sesgoAbajo{
    position: relative;
}

.projects h1{
color: #2a2830;
font-family: 'Open Sans', sans-serif;
font-size: 120px;
line-height: 190px;
font-style: normal;
font-weight: 700;
letter-spacing: -1px;
@media (max-width: 769px){ /* es solo para que se vea en modo movil usuarios*/
    font-size: 60px;
}

}

.project-photos{
    display: flex;
    justify-content: center;
    @media (max-width: 769px){ /* es solo para que se vea en modo movil usuarios*/
        flex-wrap: wrap;
    }
    
}

.services h4{
    color: #2a2830;
    font-family: 'Open Sans', sans-serif;
    font-size: 60px;
    line-height: 190px;
    font-style: normal;
    //font-weight: 700;
    letter-spacing: -1px;
    @media (max-width: 769px){ /* es solo para que se vea en modo movil usuarios*/
        font-size: 45px;
        line-height: 50px;
    }
    
}


.MySPhoto img{

    width: 800px;
    border-radius: 10px;
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    @media (max-width: 769px){ /* es solo para que se vea en modo movil usuarios*/
        width: 340px;
    }
    //height: auto;
    //image-rendering: optimizeQuality;   
}

.MySPhoto img:hover{
    -webkit-transform: scale(1.1);
	transform: scale(1.02);
}

.fPhoto p {
    margin-left: 60px;
    @media (max-width: 769px){ /* es solo para que se vea en modo movil usuarios*/
        margin-left: 0px;
    }
}

.fPhoto img{
    width: 400px;
    margin-bottom: 50px;
    margin-left: 60px;
    border-radius: 10px;
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    @media (max-width: 769px){ /* es solo para que se vea en modo movil usuarios*/
        width: 340px;
        margin-left: 0px;
    }
}

.fPhoto img:hover{
    -webkit-transform: scale(1.1);
	transform: scale(1.02);
}
